// mixin.scss

// 숨기는 영역 처리하기
@mixin hidden (){
  display: block; position: absolute; z-index:-10;
  width: 0; height: 0; overflow: hidden;
}


// framework ========================================================

// 내부에 있는 text 숨기는 기능 처리하기
@mixin hiddenText(){
  display: block; width: 0; height: 0; 
  position: absolute; z-index: -1; overflow: hidden;
}

// a요소 사이트 설정, 내부 span요소를 숨기게 만들기
@mixin link($w:100%, $h:100%){
  display:block; width:$w; height:$h;
  @content;
  &>span{ @include hiddenText; }
}// @mixin link()




// indicator_type_01
@mixin indicator_type_01( $select, $myW){
  // 하단에 존재하는 인디케이터형태로, 
  // focus처리되면 해당버튼이 가로로 길게 늘어나는 형태
  // OPTION: 1. 인디케이터 버튼하나의 크기 $myW 로 설정,
  //         2. class선택자의 이름을 설정 $select  => 선택자지칭
  // 기본구조는: $select > ul > li > a 순서로 되어있음.

  //* interpolation(보간) : 형태그대로 대입시키도록 처리하는 것

// indicator
   #{$select} {  $w:$myW; $f:100%;  
    position:absolute; left:50%; bottom:$w; transform:translateX(-50%);
    width:auto; min-width:135px; height:$w; background-color: $white; 
    padding:5px; border-radius:$w;
  & > ul {width:$f; height:$f;
    & > li {float:left; width:auto; height:$w; margin-left:5px;
          &:first-child{margin-left:0;}
          }
    & a{@include link($w:$w, $h:$f);        
        background-color:$gray; border-radius:$w;
        transition:all 300ms ease;
      
      &:hover{background-color: lighten($primary, 30%);}
      &.action, &:focus{background-color: $primary; width:($w * 3);}
    & > span{ @include hiddenText; }
      }
    } 
  } // .view_indicator

} // @mixin indicator_type_01
// ===================================================================


//* 가로형 슬라이드배너 스타일1 ========================================

@mixin horizontal_slide_banner($bannerName,$c,$w:100%,$h:100%,$view:false){
// $bannerName : (필수)광고 슬라이드 배너를 처리하고있는 영역의 이름(기본틀)
// .guide : (필수)$bannerName 자식요소 가로슬라이드 내용을 담을 긴박스의 이름
// .guide의 자식요소는 div로 설정되어 있음 (필수)
// $c : (필수)가로형 슬라이드 배너의 갯수(기본)

// $w : 기본틀의 가로값 
// $h : 기본틀의 세로값
// $view : true이면 기본틀에서 overflow: visible
//         false면  기본틀에서 overflow: hidden
  #{$bannerName} { $count:$c;  width:$w; height:$h; 
    @if ($view == true){overflow: visible;}@else{overflow:hidden;}
    .guide{width: 100% * $count; height: 100%; background-color:$sample;
      &>div{float:left; width:(100% / $count); height: 100%; 
           padding:4rem; box-sizing:border-box;
           background-repeat: no-repeat; background-position: 50% 50%;
           background-size: cover;     
       @content; 
      }// div(개별요소)
      }
    }
}// @mixin horiazontal_slide_banner
// =======================================================
$url:'../img/slide_01/'; // @mixin 사용전 경로 설정할것
@mixin horizon_banner_img($count, $imgName, $url:$url, $file:'jpg' ){
  @for $i from 1 through $count {
    &:nth-of-type(#{$i}){
      $n : null;
      @if ($i < 10) {  $n : '0'+$i; } 
      @else {  $n : $i; } 
      background-image:url($url + $imgName + $n + '.' + $file);
    }
 }// @for
}// @mixin horizon_banner_img

// ===================================================================
// 480 mixin
@mixin St ($c:#222){font-size:13px; font-size:0.8125rem; 
           font-weight: bold; color:$c; padding:2px 0;}
@mixin St_s ($c:#222){font-size:9px; font-size:0.5625rem; color:$c}
@mixin St_f ($c:#fff){font-size:9px; font-size:0.5625rem; color:$c}

@mixin St_L ($c:#fff){font-size:15px; font-size:0.9375rem; color:$c;
             font-weight:bold; padding:15px 0;}
@mixin St_L_s ($c:#fff){font-size:13px; font-size:0.8125rem; color:$c; }
@mixin St_L_s1 ($c:#fff){font-size:12px; font-size:0.75rem; color:$c; }


// ======================================================================
// 768 mixin
@mixin h1 ($c:#222,$f:23){font-size:$f+px; font-size:($f/16)rem; color:$c; font-weight: bold;}
@mixin h2 ($c:#222,$f:18){font-size:$f+px; font-size:($f/16)rem; color:$c; font-weight: 600;}

@mixin h1_w ($c:#fff,$f:23){font-size:$f+px; font-size:($f/16)rem; color:$c; font-weight: bold;}
@mixin h2_w ($c:#fff,$f:18){font-size:$f+px; font-size:($f/16)rem; color:$c; font-weight: 500;}
@mixin h3_w ($c:#fff,$f:16){font-size:$f+px; font-size:($f/16)rem; color:$c; font-weight: 500;}
@mixin h4_w ($c:#fff,$f:14){font-size:$f+px; font-size:($f/16)rem; color:$c; font-weight: 500;}

@mixin margin {margin:auto; right:0; left:0; top:0; bottom:0;}

// 1920 slide_viewBox {텍스트}
@mixin text 
{position: absolute;/*  z-index:200; */ top:8%; left:70%; width:500px; height:300px; background-color:rgba(#4c4c4c,0.7); 
  word-break:keep-all; letter-spacing:-0.05rem;
  li:nth-child(1) {margin-left:5%; margin-top:3%; @include h1_w($f:40); padding:15px 10px;}
  li:nth-child(2) {margin-left:5%; @include h2_w($f:20); padding:10px; line-height:32px;}
  li:nth-child(3) {@include hidden;}
  li:nth-child(4) {margin-left:5%; @include h2_w($f:20); padding:10px; line-height:32px;}
  .more_02 {position: absolute; z-index:1; bottom:11%; left:40%; right:0; margin:auto; width:180px; height: 40px; 
    background-color: $darkGray; border-radius:50px;
    > a {@include h4_w; display: block; width: 100%; height: 100%; text-align: center; line-height:40px;}
  } // .more_02
} // .tapBox

// 1280 slide_viewBox {텍스트}
@mixin text_02
{position: absolute; z-index:200; top:10%; left:55%; width: 500px; height: 300px; background-color:rgba(#4c4c4c,0.7); word-break:keep-all; letter-spacing:-0.05rem;
  li:nth-child(1) {margin-left:5%; margin-top:3%; @include h1_w($f:40); padding:15px 10px;}
  li:nth-child(2) {margin-left:5%; @include h2_w($f:20); padding:10px; line-height:32px;}
  li:nth-child(3) {@include hidden;}
  li:nth-child(4) {margin-left:5%; @include h2_w($f:20); padding:10px; line-height:32px;}
  .more_02 {position: absolute; z-index:1; bottom:11%; left:40%; right:0; margin:auto; width:180px; height: 40px; 
    background-color: $darkGray; border-radius:50px;
    > a {@include h4_w; display: block; width: 100%; height: 100%; text-align: center; line-height:40px;}
  } // .more_02
} // .tapBox

// 768 slide_viewBox {텍스트}
@mixin text_03
{position: absolute; z-index:200; bottom:10%; left:0; right:0; margin:auto; width: 400px; height: 100px; word-break:keep-all; letter-spacing:-0.05rem;  text-align: center;
  li:nth-child(1) {@include h1_w($f:30); margin-bottom:10px;}
  li:nth-child(2) {@include hidden;}
  li:nth-child(3) {@include h1_w($f:18); font-weight:300;}
  li:nth-child(4) {@include hidden;}
  .more_02 {@include hidden;
    > a {@include hidden;}
  } // .more_02
} // .tapBox

// 480 slide_viewBox {텍스트}
@mixin text_04
{position: absolute; z-index:200; bottom:10%; left:0; right:0; margin:auto; width: 400px; height: 100px; word-break:keep-all; letter-spacing:-0.05rem;  text-align: center; 
  li:nth-child(1) {@include h1_w($f:30); margin-bottom:10px;}
  li:nth-child(2) {@include hidden;}
  li:nth-child(3) {@include h1_w($f:18); font-weight:300;}
  li:nth-child(4) {@include hidden;}
  .more_02 {@include hidden;
    > a {@include hidden;}
  } // .more_02
} // .tapBox


@mixin url {background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;}

@mixin motion {position: absolute; bottom:30%; left:35.5%; width:150px; height:40px; 
  a {display: block; width:100%; height:100%; text-align: center; line-height:40px; 
    background-color: transparent; font-weight:bold; border-radius:3px; color:#fff;} // a
    
    span {position: absolute; z-index:10; display: block; $w:1px; background-color:#fff;
     &.bottom {width: 150px; height:$w; bottom:0; left:0; background-color: transparent;
    &:before {content:" "; display: block; width: 0; height:$w; position: absolute; right:50%;
              background-color: #fff; }
    &:after {content:" "; display: block; width: 0; height:$w; position: absolute; right:0; bottom:0;
             background-color: #fff; } 
      } // &.bottom
      &.left {width:$w; height: 0; bottom:0; left:0;}
      &.top {width:0; height:$w; top:0; left:0;}
      &.right {width:$w; height: 0; top:0; right:0;}
    } // span
    &.active {
      .bottom:before {width: 50%; transition:all 0.2s ease;}
      .bottom::after {width: 50%; transition:all 0.2s ease 0.7s;}
      .left {height: 100%; transition:all 0.2s ease 0.1s;}
      .top {width: 100%; transition:all 0.2s ease 0.3s;}
      .right {height: 100%; transition:all 0.2s ease 0.5s;}
    } // &.active
}